name: Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    uses: stylelint/.github/.github/workflows/lint.yml@main

  test:
    uses: stylelint/.github/.github/workflows/test.yml@main
    with:
      node-version: '["lts/*"]'

  actionlint:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: docker://rhysd/actionlint:latest
        with:
          args: -color
